.technical-difficulties {
	width: 100%;
	height: 100vh;
	background-image: url(../img/technical_difficulties.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

.technical-difficulties > h2 {
	padding: 20px;
}
