/* peliculas */
.peliculas {
	width: 96%;
	display: grid;
	gap: 40px;
	margin: 0 auto;
}

/* pelicula */
.pelicula {
	text-align: center;
	overflow: hidden;
	box-shadow: 0 0 20px #000;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.pelicula > h3.titulo {
	font-size: 1rem;
	font-weight: 600;
	padding: 5px 8px;
}

.pelicula > img.poster {
	width: 100%;
	height: 300px;
	object-fit: cover;
	margin-bottom: 10px;
}

/* informacion pelicula*/
.mas-info {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px 0;
}

.item {
	cursor: pointer;
	color: var(--color-secondary);
	transition: all .2s ease-in-out;
}

.item:hover {
	transform: scale(1.2);
	color: #fff;
}

.item > p {
	font-size: 1.5rem;
}

/* media queries */
@media only screen and (max-width: 479px) {
	.peliculas {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.peliculas {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.peliculas {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media only screen and (min-width: 992px) {
	.peliculas {
		grid-template-columns: repeat(4, 1fr);
	}
}
